<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7fb3a0">  <td>19/03/13 14:47:51</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SetRestrictionOnPageTest.setUp()[pri:0, instance:example.atlassians.test.SetRestrictionOnPageTest@385e9564]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1355457888</td>   <td></td> </tr>
<tr bgcolor="7fb3a0">  <td>19/03/13 14:48:06</td>   <td>14485</td> <td>&nbsp;</td><td title="&lt;&lt;SetRestrictionOnPageTest.tearDown()[pri:0, instance:example.atlassians.test.SetRestrictionOnPageTest@385e9564]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1355457888</td>   <td></td> </tr>
</table>
