<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Decision Tests Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="707274">  <td>19/03/13 21:06:56</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;CreateDecisionPageTest.setUp()[pri:0, instance:example.atlassians.test.CreateDecisionPageTest@8c3b9d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522132780</td>   <td></td> </tr>
<tr bgcolor="707274">  <td>19/03/13 21:07:37</td>   <td>40990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateDecisionPageTest.testCreateDecisionPage(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:example.atlassians.test.CreateDecisionPageTest@8c3b9d]">testCreateDecisionPage</td> 
  <td>main@1522132780</td>   <td></td> </tr>
<tr bgcolor="707274">  <td>19/03/13 21:08:56</td>   <td>120347</td> <td>&nbsp;</td><td title="&lt;&lt;CreateDecisionPageTest.tearDown()[pri:0, instance:example.atlassians.test.CreateDecisionPageTest@8c3b9d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522132780</td>   <td></td> </tr>
</table>
